#map {
  height: 900px;
  width: 100%;
}

.leaflet-popup.division-popup .leaflet-popup-content-wrapper {
  background-color: #04060b;
  color: white;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(142, 255, 172, 0.3);
  padding: 5px;
  max-width: 100px;
  max-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2.5px solid #32512a;
}

.leaflet-popup.division-popup .leaflet-popup-tip {
  background: #04060b;
  box-shadow: none;
  border: 2.5px solid #32512a;
}

.leaflet-popup.division-popup .leaflet-popup-content p{
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 11.5px;
  font-weight: bold;
  color: white;
  margin: 0;
}

/*.leaflet-popup.division-popup .leaflet-popup-content p {*/
/*  margin: 0;*/
/*  text-align: center;*/
/*  font-size: 11px;*/
/*  color: white;*/
/*}*/

/*district popup*/

.leaflet-popup.district-popup .leaflet-popup-content-wrapper {
  background-color: #000000;
  color: white;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(142, 255, 172, 0.3);
  max-height: 40px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2.5px solid #32512a;
}


.leaflet-popup.district-popup .leaflet-popup-tip {
  display: none;
}

.district-popup-content p {
  font-size: 12px;
  margin: 0;
  text-align: center;
}
